@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #929490;
  border-radius: 5px;
  transition: ease-in 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7f7b;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
